form input {
  padding: 8px 12px;
}

form[name="login"] {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form[name="login"] > div {
  display: flex;
  gap: 10px;
}

form[name="login"] > div > * {
  flex: 1;
}

form[name="login"] input[type="submit"] {
  background-color: hsl(0, 0%, 0%);
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: 20px 0px 40px 0px;
}

form[name="register"] {
  max-width: 670px;
  display: flex;
  gap: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form[name="register"] .image_input {
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 0.01rem solid black;
  cursor: pointer;
}
form[name="register"] .image_input::before {
  content: "click to add profile picture";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(0.6);
}
.imginp {
  display: none;
}

.form_input {
  display: flex;
  flex-direction: column;
}

.userdetails,
.credentials {
  display: flex;
  gap: 10px;
}
.userdetails {
  margin-bottom: 20px;
}

form[name="register"] input[type="submit"] {
  background-color: hsl(0, 0%, 0%);
  color: rgb(255, 255, 255);
  width: 100px;
  padding: 10px;
  margin: 40px 0px 60px 0px;
}
