header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .eventcontainer {
  width: 90%;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}

header .imagecontainer {
  height: 600px;
}

header > .eventcontainer > .content {
  width: calc(100% - 20px);
  padding: 14px;
  position: absolute;
  color: rgb(255, 255, 255);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.776), rgba(0, 0, 0, 0));
  bottom: 0px;
}
